@import "tailwindcss";
@source "../node_modules/patiya/dist";

@layer utilities {
  .bg-grid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, currentColor 1px, transparent 1px),
      linear-gradient(to bottom, currentColor 1px, transparent 1px);
  }

  .bg-dot {
    background-size: 24px 24px;
    background-image: radial-gradient(circle, currentColor 1px, transparent 1.5px);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--patiya-color-border);
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--patiya-color-muted-foreground);
  }
}
